<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ "Title" }}</title>
    {% endblock %}

    {% block stylesheets %}
        {{ "stylesheets" }}
    {% endblock %}


</head>
<body {{ "body class" }}>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block content %}
        <section class="content">
            <div class="row column">
                <h1>{{ "Title" }}</h1>
                {{ "content" }}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ "footer" }}
{% endblock %}
</body>
</html>
