<div class="mobile-navi" data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="small">
        <div class="title-bar" data-responsive-toggle="mobile-menu" data-hide-for="large">
            <div class="row column">
                <div class="top-bar-left">
                    <a href="tel:{{ SP.ACF.get_field('phone_number', 'option') }}"><i class="fa fa-phone"></i></a>
                </div>
                <div class="top-bar-right">
                    <a data-toggle><i class="fa fa-bars"></i></a>
                </div>
                <div class="top-bar-center text-center">
                    {% if SP.ACF.get_field('mobile_logo', 'option') %}
                        <img src="{{ SP.ACF.get_field('mobile_logo', 'option').url }}" />
                    {% else %}
                        <img src="{{ SP.ACF.get_field('logo', 'option').url }}" />
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="mobile-menu" class="hide-for-large">
            {{
            SP.WordPress.menu({
                'theme_location': 'mobile_menu',
                'walker': walkers.drilldown,
                'items_wrap': '<ul id="%1$s" class="%2$s" data-drilldown>%3$s</ul>',
                'container': false,
                'menu_id': '',
                'menu_class': 'vertical menu'
            })
            }}
        </div>
    </div>
</div>
<div class="large-navi">
    <div class="row column">
        <div class="header-container">
            <div class="header-icons">
                {% if SP.ACF.get_field('instagram', 'option') %}
                    <a href="{{ SP.ACF.get_field('instagram', 'option') }}" target="_blank"><div class="ig-head"></div></a>
                {% endif %}
                {% if SP.ACF.get_field('pinterest', 'option') %}
                    <a href="{{ SP.ACF.get_field('pinterest', 'option') }}" target="_blank"><div class="pin-head"></div></a>
                {% endif %}
                {% if SP.ACF.get_field('instagram', 'option') %}
                    <a href="{{ SP.ACF.get_field('facebook', 'option') }}" target="_blank"><div class="fb-head"></div></a>
                {% endif %}
                {% if SP.ACF.get_field('google_plus', 'option') %}
                    <a href="{{ SP.ACF.get_field('google_plus', 'option') }}" target="_blank"><div class="goog-head"></div></a>
                {% endif %}
            </div>
            <div class="header-phone">
                <p>{{ SP.ACF.get_field('phone_number', 'option') }}<p>
            </div>
        </div>
        {{
        SP.WordPress.menu({
            'theme_location': 'primary_menu'
        })
        }}
    </div>
</div>