{% extends 'base.html.twig' %}

{% block content %}
    <div class="portfolio-teasers content">
        <div class="row column small-teasers">
            {% for teaser in teasers %}
                {{ teaser }}
            {% endfor %}
        </div>
        <div class="row medium-teasers">
            <div class="medium-6 columns">
                {% for teaser in teasers %}
                    {% if loop.index % 2 == 1 %}
                        {{ teaser }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="medium-6 columns">
                {% for teaser in teasers %}
                    {% if loop.index % 2 == 0 %}
                        {{ teaser }}
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        <div class="row large-teasers">
            <div class="large-4 columns">
                {% for teaser in teasers %}
                    {% if loop.index % 3 == 1 %}
                        {{ teaser }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="large-4 columns">
                {% for teaser in teasers %}
                    {% if loop.index % 3 == 2 %}
                        {{ teaser }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="large-4 columns">
                {% for teaser in teasers %}
                    {% if loop.index % 3 == 0 %}
                        {{ teaser }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
